/* General */

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

h1 {
  font-size: 28px;
  font-weight: bold;
  padding-top: 20px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

body {
  background-color: #98C1D9;
  margin: 0;
}

 /* Navigation Bar */
.navbar {
  overflow: hidden;
  text-align: center;
  position: fixed;
  display: block;
  top: 0;
  width: 100%;
  background-color: #EE6C4D;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.navbar li {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-text {
  color: #EE6C4D;
  font-size: 20px;
}

.navbar a:hover {
  color: #293241;
  font-size: 30px;
  transition: .75s;
}

/* Home Page */

.home-page-content {
  margin: 20px;
  font-weight: bold;
  padding-top: 30px;
}

.home-page-content > span {
  text-align: center;
  font-size: 30px;
}

.technical-skills-container {
  align-items: center;
}

.education-container {
  align-items: center;
}

/* Project Page */

.project-page-content {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* padding-left: 40px; */
}

.project-page-content > h1 {
  text-align: center;
}

.project-container {
  padding-bottom: 30px;
 }

.project-container-item {
  padding-bottom: 15px;
  width: 40%;
  border: 2px solid blue;
  background-color: #E0FBFC;
  word-break: keep-all;
  margin-left: auto;
  margin-right: auto;
 }

.project-container:nth-child(even) {
  color: #EE6C4D;
 }

.project-name {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid blue;
 }

.project-details {
  width: 90%;
}

.project-details > ul {
  padding-bottom: 10px;
 }

.project-details > span {
  padding-left: 30px;
}


/* Hobbie Page */

.hobbie-page-content {
  margin: 20px;
  padding-top: 20px;
}

.hobbie-page-content > h1 {
  margin: auto;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 15px;
  align-items: stretch;
}

.image-gallery > img {
  max-width: 100%;
  object-fit: cover;
  }

/* Contact Page */

.contact-page-content {
  display: flex;
  margin: 50px;
  font-size: 20px;
}

/* Table */

.contact-page-content > td, th {
  padding: 5px;
  text-align: left;
}

.bottom-border {
  border-bottom: 2px solid black;
}

.contact-page-content > table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30%;
  border: 2px solid black;
  border-collapse: collapse;
  width: 60%; 
}

.technical-skills-container > table {
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  border: 4px solid black;
  border-collapse: separate;
  padding: 30px;
  width: 80%;
}

.education-container > table {
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  border: 4px solid black;
  border-collapse: separate;
  padding: 30px;
  width: 80%;
}

.education-table-row1 {
  min-width: 100px;
}

.education-table-row2 {
  min-width: 200px;
  padding-right: 20px;
  padding-bottom: 20px;
}

/* Mobile */

@media screen and (max-width: 600px) {
  .navbar {
    overflow: hidden;
    text-align: center;
    position: fixed;
    display: block;
    top: 0;
    width: 100%;
    background-color: #EE6C4D;
  }

  .technical-skills-container {
    margin-top: auto;
    margin-right: 0;
    margin-left: 0;
    width: 20%;
    padding: 0;
  }
  
  .education-container {
    margin-top: auto;
    margin-right: 0;
    margin-left: 0;
    width: 20%;
    padding: 0;
    text-align: left;
  }

  .education-table-row1 {
    min-width: 60px;
  }
  
  .education-table-row2 {
    min-width: 110px;
    padding-right: 30px;
    padding-bottom: 20px;
  }

  .technical-skills-container > table tr {
    margin-top: 50px;
    border-collapse: separate;
    width: 50%;
    height: 50%;
    text-align: left;
  }

  .home-page-content {
    margin: 0;
    width: 100%;
    font-weight: bold;
    padding-top: 30px;
    text-align: center;
  }

  .project-container-item {
    width: 80%;
  }

  .contact-page-content {
    width: 40%;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
    align-items: flex-start;
  }
}